<html>
    <head>
        <meta charset="utf-8"/>
        <title>React & Webpack</title>
    </head>
    <body>
    </div>
        <div id="root" style="width:2500px;">
        </div>

        <script>
                var opt = {
                            async: false,
                            asyncProcessNotify: "http://move.test/Admin/BoxTplBookImport/getImportProcess.html", //进度请求地址
                            submitUrl: "http://move.test/Admin/BoxTplBookImport/execImportShell1.html", //设置数据提交到的后端地址
                            successRedirectUrl: "http://move.test/Admin/BoxTpl/index.html", //这里设置导入成功后，点击确定按钮要跳转到的地址
                            data: {"columns":{"data":[{"title":"\u6350\u8d60\u4eba","key":"name","type":"input"},{"title":"\u6350\u8d60\u91d1\u989d","key":"amount","type":"input","required":true},{"title":"\u662f\u5426\u533f\u540d","key":"secret","type":"select","options":{"1":"\u662f","0":"\u5426"}},{"title":"\u90ae\u7bb1","key":"email","type":"input"},{"title":"\u7535\u8bdd","key":"mobile","type":"input"},{"title":"\u6350\u8d60\u5bc4\u8bed","key":"donate_message","type":"input"},{"title":"\u6350\u8d60\u65e5\u671f","key":"donate_date","type":"date","required":false},{"title":"\u9879\u76ee","key":"project_id","type":"select","options":null,"required":true}]},"row_data":[{"data":{"name":"test","amount":1,"secret":"0","email":"1@qq.com","mobile":null,"donate_message":null,"donate_date":"","project_id":""}}]}
                        }
                importGrid('root', opt); //第一个参数是需要渲染的dom id， 第二个参数为上面的配置对象
        </script>
    </body>
</html>