<html>
    <head>
        <meta charset="utf-8"/>
        <title>React & Webpack</title>
    </head>
    <body>
    </div>
        <div id="root" style="width:2500px;">
        </div>

        <script>
                var opt = {
                            async: false,
                            asyncProcessNotify: "http://move.test/Admin/BoxTplBookImport/getImportProcess.html", //进度请求地址
                            submitUrl: "http://move.test/Admin/BoxTplBookImport/execImportShell1.html", //设置数据提交到的后端地址
                            successRedirectUrl: "http://move.test/Admin/BoxTpl/index.html", //这里设置导入成功后，点击确定按钮要跳转到的地址
                            data: {"columns":{"unique":["name"],"data":[{"title":"\u6a21\u677f\u540d\u79f0","key":"name","type":"input","required":true,"validate_callback":{}},{"title":"\u4e66\u7bb1\u5206\u7c7b","key":"cate_id","type":"select","options":{"1":"\u513f\u7ae5\u7ed8\u672c","3":"\u770b\u56fe\u8bc6\u5b57","4":"\u4e3b\u9898\u4e66\u7bb1","5":"\u5171\u8bfb\u4e66\u7bb1"},"required":true},{"title":"\u9002\u8bfb\u7c7b\u578b","key":"grade","type":"select","options":["1\u5e74\u7ea7","2\u5e74\u7ea7","3\u5e74\u7ea7","4\u5e74\u7ea7","5\u5e74\u7ea7","6\u5e74\u7ea7","1-2\u5e74\u7ea7","3-4\u5e74\u7ea7","5-6\u5e74\u7ea7","\u6559\u5e08\u7528\u4e66","\u5176\u4ed6"],"required":true},{"title":"\u521b\u5efa\u673a\u6784","key":"org_id","type":"select","options":{"02a7db0e-f3f4-ed50-a036-71266f373218":"\u96c6\u62102","28878a26-3d79-11e4-9dd8-92062f326602":"\u6ee1\u5929\u661f\u516c\u76ca","28878a26-3d79-11e4-9dd8-92062f326697":"\u5168\u601d\u79d1\u6280","4215c87c-99d3-3a45-e487-dd36035c1cf0":"\u5e7f\u5dde\u5e02\u6d77\u73e0\u533a\u6ee1\u5929\u661f\u9752\u5c11\u5e74\u516c\u76ca\u53d1\u5c55\u4e2d\u5fc3","7b086cf0-97f7-b6ef-5892-30ca40a0b5b0":"\u5e7f\u5dde\u5e7f\u5dde\u5168\u601d\u79d1\u6280\u6709\u9650\u516c\u53f8","aab4518e-0010-e143-f822-21f1310c73eb":"\u5168\u601d\u79d1\u6280\u6709\u9650\u516c\u53f8","ab126cca-6965-9890-78d5-3f3d63c9faf1":"\u51af\u5b9d\u5b9d5","aff224fa-1888-43d9-223b-e997d4427ad4":"\u6ee1\u5929\u661f\u9752\u5c11\u5e74\u516c\u76ca\u53d1\u5c55\u4e2d\u5fc3"},"required":true},{"title":"\u8bf4\u660e","key":"remark","type":"input"},{"title":"\u4e66\u7bb1\u6807\u7b7e","key":"tag_id","type":"multiSelect","options":["\u65e0","\u5171\u8bfb","\u4e3b\u9898","\u53ef\u6015","\u597d\u73a9","\u7de8\u8f2f","\u4eb2\u5b50\u79d1\u666e \u6c11\u95f4\u6545\u4e8b","\u6d4b\u8bd5\u6807\u7b7e\u6700\u5927\u957f\u5ea6","\u6d4b\u8bd5\u6807\u7b7e\u6700\u5927\u957f\u5ea6","JYL\u6d4b\u8bd5\u6807\u7b7e1","\u7f16\u8f91"]}]},"row_data":[{"data":{"name":"\u6d4b\u8bd51","cate_id":"1","grade":"0","org_id":"02a7db0e-f3f4-ed50-a036-71266f373218","remark":"","tag_id":["1","2"]}},{"data":{"name":"\u6d4b\u8bd52","cate_id":"3","grade":"1","org_id":"28878a26-3d79-11e4-9dd8-92062f326602","remark":"","tag_id":null}},{"data":{"name":"\u6d4b\u8bd52","cate_id":"3","grade":"1","org_id":"28878a26-3d79-11e4-9dd8-92062f326602","remark":"","tag_id":["4"]}}]} //将上面生成的grid_data转成json格式赋给data
                        }
                importGrid('root', opt); //第一个参数是需要渲染的dom id， 第二个参数为上面的配置对象
        </script>
    </body>
</html>